
html, body, #root {
  height: 100%;
  margin: 0 auto;
}
 body {
  background-image: url("tlonastrone.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

header {
  text-align: center;
  font-family: 'Playfair Display', Georgia, serif;
  position: sticky;
  font-size: 24px;
  color: azure;
  text-shadow: 1px 1.5px 2px saddlebrown, 0 0 25px burlywood, 0 0 5px bisque;
}
ul {
  list-style-type: none;
  position: absolute;
  top: 125px;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #FFFAF0;
  display: flex;
  justify-content: center;
  
}
li {
  margin-right: 1px;
  
}
li a {
  display: block;
  color: saddlebrown;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 16px;
  font-family: 'Playfair Display', Georgia, serif;
  font-style:oblique;
}
li a:hover {
  background-color:floralwhite;
  text-decoration: underline;
}
.active {
  background-color: bisque;
  
}

* {
  box-sizing: border-box;
}
.column {
  padding: 150px;
}
.row::after {
  content: "";
  display: contents;
  clear: both;
}
@media screen and (max-width:600px) {
  .column {
    width: 100%;
  }
}
h2 {
  font-family: 'Playfair Display', Georgia, serif;
  text-align: center;
  font-size: 30px;
  color:  azure;
  text-shadow: 1px 1px 2px saddlebrown, 0 0 25px burlywood, 0 0 5px bisque;
  
}
p {
  color: black;
  text-align: justify;
  text-align-last: center;
  letter-spacing: normal;
  line-height: 1.5;
  font-size: 20px;
  font-family: 'Playfair Display', Georgia, serif;
}